<div class="message">
  <li class="left clearfix">
    <span class="chat-img pull-left">

      <canvas width="50" height="50" data-jdenticon-hash='<%= hash(message.speaker) %>' alt="User Avatar"> </canvas>


    </span>
    <div class="chat-body clearfix">
      <div class="header">
        <strong class="primary-font"><%= message.speaker %></strong>
        <small class="pull-right text-muted">
          <span class="glyphicon glyphicon-time"></span> <%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </small>
      </div>
      <p>
        <%= message.content %>
      </p>
    </div>
  </li>
</div>

<script src="//cdn.jsdelivr.net/jdenticon/1.3.2/jdenticon.min.js" async></script>
