<h1><center>Welcome to CodeDocs</center></h1>



<table style="width:100%">
  <tr>
    <th>File Name</th>
  </tr>
  <% @editors.each do |editor| %>
    <tr>
      <td><%= editor.filename %></td>
      <td><%= link_to 'Edit', edit_editor_path(editor) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "new editor", newPage_path %>
<%= link_to "logout", destroy_user_session_path, method: :delete %>
