<%= stylesheet_link_tag 'welcome', media: 'all' %>

<h1>Welcome</h1>
<%= link_to 'Sign up', destroy_user_session_path, :method => :delete, class: "btn btn-primary btn-lg" %>
<%= link_to 'Login', new_user_session_path, class: "btn btn-primary btn-lg" %>