<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container">
  <!-- Trigger the modal with a button -->
<!--   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <input type="text" id="username">
          <input type="button" value="Enter" data-behavior="room_username" data-dismiss="modal">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

</body>


<%= @id %>
<h1>Chat Room</h1>
<h2><p id="username"></p></h2>

<div id="messages">
	<%= render @messages %>
</div>

<!-- <body onload="loadUser()" onunload="removeUser()"> -->

<form>
	<label>Say something:</label><br>
	<input type="text" id="chat" data-behavior="room_speaker">
	<input type="button" value="Enter" data-behavior="room_speaker_enter">
</form>

<br>

<%= form_for @default_content do |f| %>
 	<%= f.text_area :content, :value => @default_content, data: { behavior: "room_editor" }, size: "100x30" %>
<% end %>
<!-- 
</body> -->


<!-- <script>
// if first time user, prompt and store in localStorage
// otherwise directly load 
function loadUser() {
	var inputname = localStorage.getItem("name");
	if (inputname) {
		document.getElementById("username").innerHTML = inputname;
	} else {
		do {
			inputname = prompt("Please enter your name", "Harry Potter");
		} while (inputname == "");
		localStorage.setItem("name", inputname);
		document.getElementById("username").innerHTML = inputname;
	}
}

function removeUser() {
	localStorage.removeItem("name");
}
</script>
 -->