<h1>Code Docs</h1>

<%= link_to "logout", destroy_user_session_path, method: :delete %>

<div id="messages">
	<%= render @messages %>
</div>

<form>
	<label>Say something:</label><br>
	<input type="text" id="chat" data-behavior="room_speaker">
	<input type="button" value="Enter" data-behavior="room_speaker_enter">
</form>


<br>

<%= form_for @default_content do |f| %>
 	<%= f.text_area :content, :value => @default_content, data: { behavior: "room_editor" }, size: "100x30" %>
<% end %>

