<head>
  <%= include_gon %>
</head>

<h2>Code Docs</h2>

<%= stylesheet_link_tag 'custom', media: 'all' %>

<div class="row show-grid">
  <div class="col-md-8">
    <div class="ace-editor">
      <textarea> </textarea>
    </div>
    <section id="ace-container">
    </section>
  </div>
  <div class="col-lg-4">


    <div class="form-group" >
      <label for="sel1">Select list:</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Active User</h3>
      </div>
      <div class="panel-body">
        <div class="row show-grid">
          body
        </div>
      </div>

      <div class="panel-footer">
        Panel Footer
      </div>

    </div>

    <div class="chat-panel panel panel-default">
      <div class="panel-heading">
        <i class="glyphicon glyphicon-comment"></i> Chat
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body fixed-panel">
        <ul class="chat">
          <div id="messages">
            <% unless @messages.blank? %>
                <%= render @messages %>
            <% end %>
          </div>
        </ul>
      </div>
      <!-- /.panel-body -->
      <div class="panel-footer">
        <div class="input-group">
          <input id="chat" type="text" class="form-control input-sm" data-behavior="room_speaker" placeholder="Type your message here..." />
          <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" data-behavior="room_speaker_enter">
                                Send
                            </button>
                        </span>
        </div>
      </div>
      <!-- /.panel-footer -->
    </div>
    <!-- /.panel .chat-panel -->
  </div>
</div>


<!--include themes you want to use here-->
<% javascript_include_tag 'ace/theme-twilight.js' %>
<% javascript_include_tag 'ace/mode-c_cpp.js' %>

<script type="text/javascript" charset="utf-8">
  $('#sel1').change(function () {
    var selectedText = $(this).find("option:selected").text();
    console.log(selectedText);
  });

  $(document).ready(function() {
    // initialize all Ace editors on the page.
    $(".ace-editor").each(function(index, item) {
      initAceEditor(item);
    });
  });

  function initAceEditor(container) {
    container = $(container);
    var textarea = container.find("textarea");
    var aceEditorDiv = $('<div>', {
      "class": "ace"
    }).insertBefore(textarea);
    ace.config.set("basePath", "/ace");

    var aceEditor = ace.edit(aceEditorDiv[0]);

    aceEditor.setTheme("ace/theme/twilight");

    aceEditor.session.setMode("ace/mode/c_cpp");

    textarea.closest('form').submit(function() {
      textarea.val(aceEditor.getValue());
    });
  }
</script>



