<head>
	<%= include_gon %>
</head>

<h1>Code Docs</h1>

<%= stylesheet_link_tag 'custom', media: 'all' %>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Code</h3>          
			</div>
			<div class="panel-body">
				<div class="row show-grid">
					<div class="col-md-8">int main(){}</div>
					<div class="col-md-4">.col-md-4</div>
				</div>
			</div>

			<div class="panel-footer">
				Panel Footer
			</div>

		</div>

	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="ace-editor">
  <textarea> </textarea>
</div>

<section id="ace-container">

  </section>

<br>


<div class="col-lg-4">
	<div class="chat-panel panel panel-default">
		<div class="panel-heading">
			<i class="glyphicon glyphicon-comment"></i> Chat
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body fixed-panel">
			<ul class="chat">
				<div id="messages">
					<% unless @messages.blank? %>
					<%= render @messages %>
					<% end %>
				</div>
<!-- 				<li class="left clearfix">
					<span class="chat-img pull-left">
						<img src="http://placehold.it/50/55C1E7/fff" alt="
						Shuang" class="img-circle" />
					</span>
					<div class="chat-body clearfix">
						<div class="header">
							<strong class="primary-font">Jack Sparrow</strong>
							<small class="pull-right text-muted">
								<i class="fa fa-clock-o fa-fw"></i> 12 mins ago
							</small>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
						</p>
					</div>
				</li>
				<li class="left clearfix">
					<span class="chat-img pull-right">
						<img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
					</span>
					<div class="chat-body clearfix">
						<div class="header">
							<small class=" text-muted">
								<i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
								<strong class="pull-right primary-font">Bhaumik Patel</strong>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
							</p>
						</div>
					</li> -->
				</ul>
			</div>
			<!-- /.panel-body -->
			<div class="panel-footer">
				<div class="input-group">
					<input id="chat" type="text" class="form-control input-sm" data-behavior="room_speaker" placeholder="Type your message here..." />
					<span class="input-group-btn">
						<button class="btn btn-warning btn-sm" id="btn-chat" data-behavior="room_speaker_enter">
							Send
						</button>
					</span>
				</div>
			</div>
			<!-- /.panel-footer -->
		</div>
		<!-- /.panel .chat-panel -->
	</div>

<%= javascript_include_tag "show" %>
<section id="active_users">  
    <h2>Active users</h2>
    <ul id="active_users_list">
    </ul>
</section> 

<!--include themes you want to use here-->
<% javascript_include_tag 'ace/theme-twilight.js' %>
<% javascript_include_tag 'ace/mode-c_cpp.js' %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    // initialize all Ace editors on the page.
    $(".ace-editor").each(function(index, item) {
      initAceEditor(item);
    });
  });

  function initAceEditor(container) {
    container = $(container);
    var textarea = container.find("textarea");
    var aceEditorDiv = $('<div>', {
      "class": "ace"
    }).insertBefore(textarea);
    ace.config.set("basePath", "/ace");

    var aceEditor = ace.edit(aceEditorDiv[0]);

    aceEditor.setTheme("ace/theme/twilight");

    aceEditor.session.setMode("ace/mode/c_cpp");

    textarea.closest('form').submit(function() {
      textarea.val(aceEditor.getValue());
    });
  }
</script>>
>>>>>>> master
