<h1>Chat Room</h1>
<div id="messages">
	<%= render @messages %>
</div>

<form>
	<label>Say something:</label><br>
	<input type="text" data-behavior="room_speaker">
</form>


<%= form_for @default_content do |f| %>
 	<%= f.text_area :content, :value => @default_content, data: { behavior: "room_speaker" }, size: "100x30" %>
<% end %>